<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MoltenMercury.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoltenMercury.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MoltenMercury.Properties.Settings>
            <setting name="Character" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="CEDimUnselected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CEShowProcConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugLoggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Locale" serializeAs="String">
                <value>en-us</value>
            </setting>
        </MoltenMercury.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
        <MoltenMercury.Properties.Settings>
            <setting name="DimProcessor" serializeAs="String">
                <value>MM|ST0.1|BC-8550435|HX0|SX0|LX0|AA0.3</value>
            </setting>
            <setting name="DefaultProcessor" serializeAs="String">
                <value>MM|ST0.1|BC-8550435|HX0|SX0|LX0|AA1</value>
            </setting>
            <setting name="DefaultSkinProcessor" serializeAs="String">
                <value>MM|ST0.295|BC-338486|HX0|SX0|LX0|AA1</value>
            </setting>
        </MoltenMercury.Properties.Settings>
    </applicationSettings>
</configuration>
